<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>周报管理系统</title>
    <!--<link href="/content/lib/bootstrap3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div style="margin: 0 auto;width: 500px;">
        <h1>周报管理系统</h1>
        <form class="thumbnail col-md-4">
            <div class="form-group">
                <label for="inputEmail3">Email</label>
                <div>
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3">Password</label>
                <div>
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-default">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>