<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>周报管理系统-管理员登录</title>
    <link href="/content/lib/bootstrap3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/content/css/common.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="text-center">
            <h1>周报管理系统-管理员登录</h1>
        </div>
        <form>
            <div class="form-group">
                <label for="admin-id">ADMIN-ID</label>
                <div>
                    <input type="text" class="form-control" name="id" id="admin-id" placeholder="ADMIN-ID">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-default col-md-12">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>